<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barney.dmcprojectprayge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DMCProjectPrayge">
        <activity
            android:name=".PilihLokasiActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".DetailRestaurant"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHotel"
            android:exported="false" />
        <activity
            android:name=".DetailTourSpot"
            android:exported="false" />
        <activity
            android:name=".ListTourSpotActivity"
            android:exported="false" />
        <activity
            android:name=".ListRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".ListHotelActivity"
            android:exported="false"
            android:label="Hotels" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>